#e36jQKJPSVR3_tr {
    animation: e36jQKJPSVR3_tr__tr 10000ms linear infinite normal forwards
}

@keyframes e36jQKJPSVR3_tr__tr {
    0% {
        transform: translate(873.246202px, 496.304023px) rotate(720.870882deg)
    }

    50% {
        transform: translate(873.246202px, 496.304023px) rotate(900.312028deg)
    }

    100% {
        transform: translate(873.246202px, 496.304023px) rotate(1080.044576deg)
    }
}