#eheq2rUnyj33 {
    animation: eheq2rUnyj33__m 6000ms linear infinite normal forwards
}

@keyframes eheq2rUnyj33__m {
    0% {
        d: path('M963.255252,294.852481C963.255252,294.852481,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,961.004469,242.891354,954.252122,222.827446C947.499775,202.763538,967.756816,213.451546,967.756816,185.662724C967.756816,157.873901,884.477872,104.433859,866.471613,104.433859C848.465354,104.433859,805.700489,130.085079,816.954401,157.873901C828.208313,185.662724,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,920.490387,202.570406,913.73804,222.827446C906.985693,243.084486,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,963.255252,294.852481,963.255252,294.852481Z')
    }

    50% {
        d: path('M976.549358,286.443623C976.549358,286.443623,1006.959178,303.63418,1000.206831,269.872446C993.454484,236.110712,997.101898,242.891354,990.349551,222.827446C983.597204,202.763538,938.496645,193.282502,938.496645,165.49368C938.496645,137.704857,901.897183,120.486791,883.890924,120.486791C865.884665,120.486791,829.264979,132.292362,840.518891,160.081184C851.772803,187.870007,834.960661,199.632515,866.471613,199.632515C897.982565,199.632515,914.300744,209.223764,907.548397,229.480804C900.79605,249.737844,909.236474,269.872446,938.496645,269.872446C967.756816,269.872446,976.549358,286.443623,976.549358,286.443623Z')
    }

    100% {
        d: path('M963.255252,294.852481C963.255252,294.852481,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,961.004469,242.891354,954.252122,222.827446C947.499775,202.763538,967.756816,213.451546,967.756816,185.662724C967.756816,157.873901,884.477872,104.433859,866.471613,104.433859C848.465354,104.433859,805.700489,130.085079,816.954401,157.873901C828.208313,185.662724,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,920.490387,202.570406,913.73804,222.827446C906.985693,243.084486,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,963.255252,294.852481,963.255252,294.852481Z')
    }
}

#eheq2rUnyj34 {
    animation: eheq2rUnyj34__m 6000ms linear infinite normal forwards
}

@keyframes eheq2rUnyj34__m {
    0% {
        d: path('M980.17789,288.66454C980.17789,288.66454,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,961.004469,242.891354,954.252122,222.827446C947.499775,202.763538,942.08412,205.887908,942.08412,178.099086C942.08412,150.310263,882.458405,122.550343,864.452146,122.550343C846.445887,122.550343,827.063343,131.286254,838.317255,159.075076C849.571167,186.863899,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,906.800893,208.077822,913.73804,222.827446C920.675187,237.57707,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,980.17789,288.66454,980.17789,288.66454Z')
    }

    25% {
        d: path('M980.17789,288.66454C980.17789,288.66454,1020.689613,275.58876,1013.937266,241.827026C1007.184919,208.065292,961.948251,222.626964,955.195904,202.563056C948.443557,182.499148,952.299431,157.845863,952.299431,130.057041C952.299431,102.268218,880.685144,104.517077,862.678885,104.517077C844.672626,104.517077,813.049356,141.620203,824.303268,169.409025C835.55718,197.197848,844.268194,170.374448,875.779146,170.374448C907.290098,170.374448,874.451833,207.882317,881.38898,222.631941C888.326127,237.381565,879.833289,281.782911,909.09346,281.782911C938.353631,281.782911,980.17789,288.66454,980.17789,288.66454Z')
    }

    50% {
        d: path('M980.17789,288.66454C980.17789,288.66454,1030.186277,262.578867,1023.43393,228.817133C1016.681583,195.055399,961.004469,242.891354,954.252122,222.827446C947.499775,202.763538,942.297188,169.843497,942.297188,142.054675C942.297188,114.265852,882.458405,122.550343,864.452146,122.550343C846.445887,122.550343,802.332778,149.522634,813.58669,177.311456C824.840602,205.100279,860.195878,208.101319,891.70683,208.101319C923.217782,208.101319,906.800893,208.077822,913.73804,222.827446C920.675187,237.57707,890.959452,282.992093,920.219623,282.992093C949.479794,282.992093,980.17789,288.66454,980.17789,288.66454Z')
    }

    75% {
        d: path('M980.17789,288.66454C980.17789,288.66454,1020.689613,275.58876,1013.937266,241.827026C1007.184919,208.065292,961.948251,222.626964,955.195904,202.563056C948.443557,182.499148,952.299431,157.845863,952.299431,130.057041C952.299431,102.268218,880.685144,104.517077,862.678885,104.517077C844.672626,104.517077,813.049356,141.620203,824.303268,169.409025C835.55718,197.197848,844.268194,170.374448,875.779146,170.374448C907.290098,170.374448,874.451833,207.882317,881.38898,222.631941C888.326127,237.381565,879.833289,281.782911,909.09346,281.782911C938.353631,281.782911,980.17789,288.66454,980.17789,288.66454Z')
    }

    100% {
        d: path('M980.17789,288.66454C980.17789,288.66454,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,961.004469,242.891354,954.252122,222.827446C947.499775,202.763538,942.08412,205.887908,942.08412,178.099086C942.08412,150.310263,882.458405,122.550343,864.452146,122.550343C846.445887,122.550343,827.063343,131.286254,838.317255,159.075076C849.571167,186.863899,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,906.800893,208.077822,913.73804,222.827446C920.675187,237.57707,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,980.17789,288.66454,980.17789,288.66454Z')
    }
}

#eheq2rUnyj35 {
    animation: eheq2rUnyj35__m 6000ms linear infinite normal forwards
}

@keyframes eheq2rUnyj35__m {
    0% {
        d: path('M974.247203,291.316866C974.247203,291.316866,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,974.811223,238.977782,968.058876,218.913874C961.306529,198.849966,967.756816,213.451546,967.756816,185.662724C967.756816,157.873901,913.684401,110.069791,895.678142,110.069791C877.671883,110.069791,831.984483,132.905092,843.238395,160.693914C854.492307,188.482737,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,894.951074,208.051873,888.198727,228.308913C881.44638,248.565953,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,974.247203,291.316866,974.247203,291.316866Z')
    }

    50% {
        d: path('M974.247203,291.316866C974.247203,291.316866,1010.122293,255.434535,1003.369946,221.672801C996.617599,187.911067,949.507484,199.36254,949.507484,199.36254C919.894324,164.725679,969.426116,150.403991,974.953415,109.920836C980.480714,69.437681,870.070799,49.466507,838.081059,61.292374C806.091319,73.118241,776.970645,99.830081,788.224557,127.618903C799.478469,155.407726,833.817995,162.419894,865.328947,162.419894C896.839899,162.419894,890.552963,192.073563,883.800616,212.330603C877.048269,232.587643,903.943398,267.148059,933.203569,267.148059C962.46374,267.148059,974.247203,291.316866,974.247203,291.316866Z')
    }

    100% {
        d: path('M974.247203,291.316866C974.247203,291.316866,1008.270898,292.601698,1001.518551,258.839964C994.766204,225.07823,974.811223,238.977782,968.058876,218.913874C961.306529,198.849966,967.756816,213.451546,967.756816,185.662724C967.756816,157.873901,913.684401,110.069791,895.678142,110.069791C877.671883,110.069791,831.984483,132.905092,843.238395,160.693914C854.492307,188.482737,843.963789,185.662724,875.474741,185.662724C906.985693,185.662724,894.951074,208.051873,888.198727,228.308913C881.44638,248.565953,909.236474,258.839964,938.496645,258.839964C967.756816,258.839964,974.247203,291.316866,974.247203,291.316866Z')
    }
}

#eheq2rUnyj38_to {
    animation: eheq2rUnyj38_to__to 6000ms linear infinite normal forwards
}

@keyframes eheq2rUnyj38_to__to {
    0% {
        offset-distance: 0%
    }

    16.666667% {
        offset-distance: 26.347864%
    }

    33.333333% {
        offset-distance: 50%
    }

    58.333333% {
        offset-distance: 73.652136%
    }

    100% {
        offset-distance: 100%
    }
}