#eUoZPEK2vhu3_to {
    animation: eUoZPEK2vhu3_to__to 3000ms linear infinite normal forwards
}

@keyframes eUoZPEK2vhu3_to__to {
    0% {
        transform: translate(1299.562848px, 251.323121px)
    }

    20% {
        transform: translate(1427.529522px, 251.323121px)
    }

    66.666667% {
        transform: translate(1212.828727px, 251.323121px)
    }

    100% {
        transform: translate(1299.562848px, 251.323121px)
    }
}

#eUoZPEK2vhu4_to {
    animation: eUoZPEK2vhu4_to__to 3000ms linear infinite normal forwards
}

@keyframes eUoZPEK2vhu4_to__to {
    0% {
        transform: translate(1306.868934px, 1736.254908px)
    }

    33.333333% {
        transform: translate(1082.479292px, 1710.995991px)
    }

    100% {
        transform: translate(1306.868934px, 1736.254908px)
    }
}

#eUoZPEK2vhu5_to {
    animation: eUoZPEK2vhu5_to__to 3000ms linear infinite normal forwards
}

@keyframes eUoZPEK2vhu5_to__to {
    0% {
        transform: translate(4905.374305px, 638.925398px)
    }

    40% {
        transform: translate(4577.008384px, 527.914777px)
    }

    100% {
        transform: translate(4918.003764px, 603.691528px)
    }
}

#eUoZPEK2vhu6 {
    animation: eUoZPEK2vhu6_c_o 3000ms linear infinite normal forwards
}

@keyframes eUoZPEK2vhu6_c_o {
    0% {
        opacity: 1
    }

    3.333333% {
        opacity: 0
    }

    33.333333% {
        opacity: 1
    }

    36.666667% {
        opacity: 0
    }

    66.666667% {
        opacity: 1
    }

    70% {
        opacity: 0
    }

    96.666667% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

#eUoZPEK2vhu7 {
    animation: eUoZPEK2vhu7_c_o 3000ms linear infinite normal forwards
}

@keyframes eUoZPEK2vhu7_c_o {
    0% {
        opacity: 0
    }

    3.333333% {
        opacity: 1
    }

    33.333333% {
        opacity: 0
    }

    36.666667% {
        opacity: 1
    }

    66.666667% {
        opacity: 0
    }

    70% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}