#eCizmxj4DTc1 {
  z-index: 0;
}
#eCizmxj4DTc255_tr {
  animation: eCizmxj4DTc255_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc255_tr__tr {
  0% {
    transform: translate(967.481534px, 487.5px) rotate(0deg);
  }
  100% {
    transform: translate(967.481534px, 487.5px) rotate(360deg);
  }
}
#eCizmxj4DTc261_tr {
  animation: eCizmxj4DTc261_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc261_tr__tr {
  0% {
    transform: translate(1010.887115px, 536.400003px) rotate(0deg);
  }
  100% {
    transform: translate(1010.887115px, 536.400003px) rotate(360deg);
  }
}
#eCizmxj4DTc267_tr {
  animation: eCizmxj4DTc267_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc267_tr__tr {
  0% {
    transform: translate(919.200012px, 426.772565px) rotate(0deg);
  }
  100% {
    transform: translate(919.200012px, 426.772565px) rotate(360deg);
  }
}
#eCizmxj4DTc275_tr {
  animation: eCizmxj4DTc275_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc275_tr__tr {
  0% {
    transform: translate(1086.501221px, 684.2px) rotate(0deg);
  }
  50% {
    transform: translate(1086.501221px, 684.2px) rotate(3.241132deg);
  }
  100% {
    transform: translate(1086.501221px, 684.2px) rotate(0deg);
  }
}
#eCizmxj4DTc319_tr {
  animation: eCizmxj4DTc319_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc319_tr__tr {
  0% {
    transform: translate(226.52678px, 188.034957px) rotate(0deg);
  }
  26% {
    transform: translate(226.52678px, 188.034957px) rotate(-7.353661deg);
  }
  70% {
    transform: translate(226.52678px, 188.034957px) rotate(18.334857deg);
  }
  100% {
    transform: translate(226.52678px, 188.034957px) rotate(0deg);
  }
}
#eCizmxj4DTc320_tr {
  animation: eCizmxj4DTc320_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc320_tr__tr {
  0% {
    transform: translate(242.506797px, 190.126763px) rotate(0deg);
  }
  30% {
    transform: translate(242.506797px, 190.126763px) rotate(-9.045941deg);
  }
  76% {
    transform: translate(242.506797px, 190.126763px) rotate(8.354401deg);
  }
  100% {
    transform: translate(242.506797px, 190.126763px) rotate(0deg);
  }
}
#eCizmxj4DTc339_tr {
  animation: eCizmxj4DTc339_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc339_tr__tr {
  0% {
    transform: translate(115.43813px, 589.6px) rotate(0deg);
  }
  50% {
    transform: translate(115.43813px, 589.6px) rotate(-3.873419deg);
  }
  100% {
    transform: translate(115.43813px, 589.6px) rotate(0deg);
  }
}
#eCizmxj4DTc339_ts {
  animation: eCizmxj4DTc339_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc339_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.961746, 0.961746);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eCizmxj4DTc342_tr {
  animation: eCizmxj4DTc342_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc342_tr__tr {
  0% {
    transform: translate(152.417516px, 583.139587px) rotate(0deg);
  }
  50% {
    transform: translate(152.417516px, 583.139587px) rotate(4.220365deg);
  }
  100% {
    transform: translate(152.417516px, 583.139587px) rotate(0deg);
  }
}
#eCizmxj4DTc342_ts {
  animation: eCizmxj4DTc342_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc342_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.04776, 1.04776);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eCizmxj4DTc349_tr {
  animation: eCizmxj4DTc349_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc349_tr__tr {
  0% {
    transform: translate(466.349991px, 129.300003px) rotate(0deg);
  }
  100% {
    transform: translate(466.349991px, 129.300003px) rotate(90deg);
  }
}
#eCizmxj4DTc372_tr {
  animation: eCizmxj4DTc372_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc372_tr__tr {
  0% {
    transform: translate(512.114064px, 418.684784px) rotate(0deg);
  }
  100% {
    transform: translate(512.114064px, 418.684784px) rotate(360deg);
  }
}
#eCizmxj4DTc378_tr {
  animation: eCizmxj4DTc378_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc378_tr__tr {
  0% {
    transform: translate(632.850037px, 305.045587px) rotate(0deg);
  }
  100% {
    transform: translate(632.850037px, 305.045587px) rotate(360deg);
  }
}
#eCizmxj4DTc384_tr {
  animation: eCizmxj4DTc384_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc384_tr__tr {
  0% {
    transform: translate(574.503236px, 383.100003px) rotate(0deg);
  }
  100% {
    transform: translate(574.503236px, 383.100003px) rotate(360deg);
  }
}
#eCizmxj4DTc390_tr {
  animation: eCizmxj4DTc390_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc390_tr__tr {
  0% {
    transform: translate(712.787903px, 230.700001px) rotate(0deg);
  }
  100% {
    transform: translate(712.787903px, 230.700001px) rotate(360.000001deg);
  }
}
#eCizmxj4DTc423_tr {
  animation: eCizmxj4DTc423_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc423_tr__tr {
  0% {
    transform: translate(365.28588px, 623.571714px) rotate(0deg);
  }
  56% {
    transform: translate(365.28588px, 623.571714px) rotate(3.479633deg);
  }
  100% {
    transform: translate(365.28588px, 623.571714px) rotate(0deg);
  }
}
#eCizmxj4DTc426_tr {
  animation: eCizmxj4DTc426_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc426_tr__tr {
  0% {
    transform: translate(465.424317px, 636.535889px) rotate(0deg);
  }
  34% {
    transform: translate(465.424317px, 636.535889px) rotate(2.7075deg);
  }
  61.8% {
    transform: translate(465.424317px, 636.535889px) rotate(-2.685765deg);
  }
  100% {
    transform: translate(465.424317px, 636.535889px) rotate(0deg);
  }
}
#eCizmxj4DTc429_tr {
  animation: eCizmxj4DTc429_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc429_tr__tr {
  0% {
    transform: translate(421.281404px, 628.51355px) rotate(0deg);
  }
  50% {
    transform: translate(421.281404px, 628.51355px) rotate(-2.624396deg);
  }
  100% {
    transform: translate(421.281404px, 628.51355px) rotate(0deg);
  }
}
#eCizmxj4DTc429_ts {
  animation: eCizmxj4DTc429_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc429_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  22% {
    transform: scale(1.044189, 1.044189);
  }
  60% {
    transform: scale(0.952983, 0.952983);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eCizmxj4DTc461_to {
  animation: eCizmxj4DTc461_to__to 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc461_to__to {
  0% {
    transform: translate(1007.493195px, 152.80722px);
  }
  25% {
    transform: translate(997.83725px, 156.554577px);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  68% {
    transform: translate(1012.290924px, 151.064043px);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    transform: translate(1007.493195px, 152.80722px);
  }
}
#eCizmxj4DTc461_tr {
  animation: eCizmxj4DTc461_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes eCizmxj4DTc461_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-6.805623deg);
  }
  36% {
    transform: rotate(6.496666deg);
  }
  65% {
    transform: rotate(-10.723179deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
