#euUzG1HbSJc257_tr {
  animation: euUzG1HbSJc257_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc257_tr__tr {
  0% {
    transform: translate(967.561401px, 488.3px) rotate(0deg);
  }
  100% {
    transform: translate(967.561401px, 488.3px) rotate(360deg);
  }
}
#euUzG1HbSJc263_tr {
  animation: euUzG1HbSJc263_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc263_tr__tr {
  0% {
    transform: translate(1010.887115px, 537.293579px) rotate(0deg);
  }
  100% {
    transform: translate(1010.887115px, 537.293579px) rotate(360deg);
  }
}
#euUzG1HbSJc269_tr {
  animation: euUzG1HbSJc269_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc269_tr__tr {
  0% {
    transform: translate(919.659119px, 427.8px) rotate(0deg);
  }
  100% {
    transform: translate(919.659119px, 427.8px) rotate(360deg);
  }
}
#euUzG1HbSJc277_tr {
  animation: euUzG1HbSJc277_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc277_tr__tr {
  0% {
    transform: translate(1089.123413px, 683.7px) rotate(6.097153deg);
  }
  50% {
    transform: translate(1089.123413px, 683.7px) rotate(-2.200778deg);
  }
  100% {
    transform: translate(1089.123413px, 683.7px) rotate(6.097153deg);
  }
}
#euUzG1HbSJc321_tr {
  animation: euUzG1HbSJc321_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc321_tr__tr {
  0% {
    transform: translate(235.2px, 195.122437px) rotate(-8.612009deg);
  }
  50% {
    transform: translate(235.2px, 195.122437px) rotate(7.897351deg);
  }
  100% {
    transform: translate(235.2px, 195.122437px) rotate(-8.612009deg);
  }
}
#euUzG1HbSJc322_tr {
  animation: euUzG1HbSJc322_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc322_tr__tr {
  0% {
    transform: translate(249.127937px, 179.579224px) rotate(-11.105301deg);
  }
  50% {
    transform: translate(249.127937px, 179.579224px) rotate(7.897351deg);
  }
  100% {
    transform: translate(249.127937px, 179.579224px) rotate(-11.105301deg);
  }
}
#euUzG1HbSJc341_tr {
  animation: euUzG1HbSJc341_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc341_tr__tr {
  0% {
    transform: translate(114.852414px, 593.865601px) rotate(-6.166629deg);
  }
  50% {
    transform: translate(114.852414px, 593.865601px) rotate(2.141195deg);
  }
  100% {
    transform: translate(114.852414px, 593.865601px) rotate(-6.166629deg);
  }
}
#euUzG1HbSJc344_tr {
  animation: euUzG1HbSJc344_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc344_tr__tr {
  0% {
    transform: translate(151.535477px, 609px) rotate(3.932259deg);
  }
  50% {
    transform: translate(151.535477px, 609px) rotate(-0.006529deg);
  }
  100% {
    transform: translate(151.535477px, 609px) rotate(3.932259deg);
  }
}
#euUzG1HbSJc368_tr {
  animation: euUzG1HbSJc368_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc368_tr__tr {
  0% {
    transform: translate(512.90771px, 418.684599px) rotate(0deg);
  }
  100% {
    transform: translate(512.90771px, 418.684599px) rotate(360deg);
  }
}
#euUzG1HbSJc374_tr {
  animation: euUzG1HbSJc374_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc374_tr__tr {
  0% {
    transform: translate(633.43252px, 303.970667px) rotate(0deg);
  }
  100% {
    transform: translate(633.43252px, 303.970667px) rotate(360deg);
  }
}
#euUzG1HbSJc380_tr {
  animation: euUzG1HbSJc380_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc380_tr__tr {
  0% {
    transform: translate(574.90669px, 384.57081px) rotate(0deg);
  }
  100% {
    transform: translate(574.90669px, 384.57081px) rotate(360deg);
  }
}
#euUzG1HbSJc386_tr {
  animation: euUzG1HbSJc386_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc386_tr__tr {
  0% {
    transform: translate(713.198889px, 232.850345px) rotate(0deg);
  }
  100% {
    transform: translate(713.198889px, 232.850345px) rotate(360deg);
  }
}
#euUzG1HbSJc419_tr {
  animation: euUzG1HbSJc419_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc419_tr__tr {
  0% {
    transform: translate(361.047913px, 628.543213px) rotate(2.460442deg);
  }
  50% {
    transform: translate(361.047913px, 628.543213px) rotate(-4.893963deg);
  }
  100% {
    transform: translate(361.047913px, 628.543213px) rotate(2.460442deg);
  }
}
#euUzG1HbSJc419_ts {
  animation: euUzG1HbSJc419_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc419_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.793804, 0.939507);
  }
  100% {
    transform: scale(1, 1);
  }
}
#euUzG1HbSJc422_tr {
  animation: euUzG1HbSJc422_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc422_tr__tr {
  0% {
    transform: translate(466.380216px, 659.1px) rotate(0deg);
  }
  50% {
    transform: translate(466.380216px, 659.1px) rotate(5.349536deg);
  }
  100% {
    transform: translate(466.380216px, 659.1px) rotate(0deg);
  }
}
#euUzG1HbSJc422_ts {
  animation: euUzG1HbSJc422_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc422_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.193503, 1.071555);
  }
  100% {
    transform: scale(1, 1);
  }
}
#euUzG1HbSJc425_tr {
  animation: euUzG1HbSJc425_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc425_tr__tr {
  0% {
    transform: translate(419.994934px, 645.548889px) rotate(4.682963deg);
  }
  50% {
    transform: translate(419.994934px, 645.548889px) rotate(-4.059959deg);
  }
  100% {
    transform: translate(419.994934px, 645.548889px) rotate(4.682963deg);
  }
}
#euUzG1HbSJc425_ts {
  animation: euUzG1HbSJc425_ts__ts 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc425_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.130308, 1.050549);
  }
  100% {
    transform: scale(1, 1);
  }
}
#euUzG1HbSJc457_to {
  animation: euUzG1HbSJc457_to__to 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc457_to__to {
  0% {
    transform: translate(1007.493195px, 152.80722px);
  }
  20% {
    transform: translate(1001.490091px, 157.321834px);
  }
  50% {
    transform: translate(991.899995px, 154.199993px);
  }
  74% {
    transform: translate(986.529592px, 159.307165px);
  }
  100% {
    transform: translate(1007.493195px, 152.80722px);
  }
}
#euUzG1HbSJc457_tr {
  animation: euUzG1HbSJc457_tr__tr 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc457_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-11.431624deg);
  }
  50% {
    transform: rotate(6.175201deg);
  }
  74% {
    transform: rotate(-8.944836deg);
  }
  100% {
    transform: rotate(2.460442deg);
  }
}
#euUzG1HbSJc483 {
  animation: euUzG1HbSJc483_c_o 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc483_c_o {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#euUzG1HbSJc487 {
  animation: euUzG1HbSJc487_c_o 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc487_c_o {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#euUzG1HbSJc495 {
  animation: euUzG1HbSJc495_c_o 10000ms linear infinite normal forwards;
}
@keyframes euUzG1HbSJc495_c_o {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
