@use "bg-animation";
@use "bg-dark";
.hero {
  @apply relative;
  & > .hero-content {
    @apply relative
    flex
    justify-start
    items-center
    overflow-x-hidden;
    & > .hero-bg {
      @apply min-w-[1000px]
      w-screen
      saturate-150;
    }
    & > .hero-container {
      @apply absolute
      inset-0
      h-[80%]
      flex
      flex-col
      w-full
      items-center
      justify-center;
      & > .hero-inner-container {
        @apply px-5
        lg:max-w-[780px]
        flex
        justify-center
        sm:items-center
        flex-col
        text-center
        max-w-6xl;

        & > .hero-title {
          @apply font-bold
          text-5xl
          sm:text-6xl
          md:text-7xl
          lg:text-8xl
          mb-5;
        }
        & > .hero-description {
          @apply text-sm
          sm:text-lg
          md:text-xl
          mb-5;
        }
      }
    }
    & > .hero-separator {
      @apply absolute
      bottom-0
      left-0
      w-full
      flex
      justify-center
      items-center;
    }
  }
}
.roadmap {
  &-header {
    @apply -mt-28
    md:-mt-32
    lg:-mt-48
    xl:-mt-56
    px-5
    flex
    justify-center
    items-center
    flex-col
    text-center;
  }
  &-title {
    @apply font-bold
    text-4xl
    sm:text-4xl
    md:text-4xl
    lg:text-4xl
    xl:text-5xl
    2xl:text-6xl
    mb-6;
  }
  &-description {
    @apply text-lg
    md:text-xl
    md:max-w-xl
    lg:max-w-[780px];
  }
}
