.swiper-wrapper {
  @apply min-h-[430px] py-10 px-5;
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  opacity: 0;
  transition: all 150ms ease-in-out;
  transition-property: all !important;
  &:last-of-type.swiper-slide-active,
  &.swiper-slide-prev:has(+ .swiper-slide:last-of-type.swiper-slide-active) {
    transform: translateX(-50px);
  }
}

.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-next + .swiper-slide,
.swiper-slide:has(+ .swiper-slide:last-of-type.swiper-slide-active) {
  opacity: 1;
}
.swiper-pagination-bullets {
  @apply flex gap-2 justify-center;
  .swiper-pagination-bullet {
    @apply w-[8px] h-[8px] rounded-full bg-link/25;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      @apply bg-link;
    }
  }
}
