nav {
  height: 60px;
  box-sizing: border-box;
  .logo_nav_global {
    svg {
      height: 40px;
    }
  }
}

.menu_nav_global {
  right: 0;
  translate: 2000px;
  transition: translate 0.5s;
  @media (min-width: 768px) {
    right: 0;
    translate: 0px;
    background-color: transparent !important;
    border: none !important;
  }
}
@keyframes userSetting-anim {
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    height: 100px;
    opacity: 1;
  }
}
.user-settings{
  opacity: 0;
  height: 0;
}
.user-settings-anim{
  animation: userSetting-anim 0.5s ease-out forwards;
}
.user-settings-anim-reverse{
  animation: userSetting-anim reverse 0.5s ease-out forwards;
}

